@font-face {
    font-family: HelveticaNeue-300;

    src: url('../fonts/helveticaneuecyr-light.otf');
    font-weight: 300;
	font-style: normal;
}
@font-face {
    font-family: HelveticaNeue-normal;

    src: url('../fonts/helveticaneuecyr-roman.otf');
    font-weight: 300;
	font-style: normal;
}
@font-face {
    font-family: HelveticaNeue-500;

    src: url('../fonts/helveticaneuecyr-medium.otf');
    font-weight: 300;
	font-style: normal;
}